header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 150px;
    background-size: 30%;

    
}
   
#logo{
    height: 100px;
    position: relative;
    top: 50px;

}

#titolo-principale{
    font-size: 4em;
}
.autore{
    font-size: 2em;
    
}
#autore{
    font-size: 1em;
    color: #4EA0FF;
}
.timg{
    height: 500px;
}
    
    
