header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    height: 150px;
    background-size: 30%;

    
}
   
#logo{
    height: 100px;
    position: relative;
    top: 50px;
    /* width: auto;
    text-align: left;
    background-image: url("/img/pattern.png");
    background-color: #4EA0FF; */


}

/* #pattern{
    background-repeat: repeat;

} */
